@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --primary-color: rgb(0, 23, 48);
    --secondary-color: #17edbb;
    --third-color: rgb(255, 0, 64);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1 {
    line-height: 1.2;
    margin: 10px 0;
    color: #fff;
}

h1 .highlight {
    color: var(--third-color);
}

h1 .highlight-1 {
    color: var(--secondary-color);
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navigation bar */
.navbar {
    background-color: var(--primary-color);
    height: 110px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--secondary-color) solid;
    color: var(--secondary-color);
}

.navbar .flex {
    justify-content: space-between;
}

.navbar img {
    max-height: 80px;
    align-self: left;
}

/* showcase */
.showcase {
    background-color: var(--primary-color);
    height: 400px;
    color: #fff;
}

.showcase h1 {
    font-size: 40px;
    color: var(--secondary-color);
}

.showcase p {
    margin: 20px 0;
    letter-spacing: 0.5px;
}

.showcase .grid {
    overflow: visible;
    gap: 50px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 60px;
    z-index: 100;
    animation: slideInFromRight 0.5s ease-in;
}

.showcase-text {
    animation: slideInFromLeft 0.5s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    padding: 3px;
    font-size: 16px;
}  

.showcase-form input:focus {
    outline: none;
}

/*
.showcase::before,
.showcase::before {
    content: "";
    position: absolute;
    height: 100px;
    bottom: 275px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
}*/

/* about me */
.about img {
    padding-top: 20px;
    padding-left: 120px;
    opacity: 0.95;
    width: auto;
    max-height: 400px;
    border-radius: 70%;
}

.about-text{
    height: 200px;
}

.about-text h1 {
    color: var(--primary-color);
}

.about-text p {
    color: black;
    line-height: 1.5;
}

.about .grid {
    overflow: visible;
    gap: 50px;
    margin-bottom: 100px;
    margin-top: 20px;
    animation: slideInFromBottom 0.5s ease-in;
}

footer {
    background-color: var(--primary-color);
    align-items: center;
}

footer p {
    color: white;
}

footer .social a {
    margin: 0 20px;
    float: right;
    color: white;
}

footer .social :hover {
    transform: scale(.95);
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Tablets */
@media(max-width: 760px) {
    .grid,
    .showcase .grid,
    .about .grid ,
    .footer .grid {
        grid-template-columns: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        margin: 10px;
    }

    .showcase-form {
        top: 30px;
        justify-self: center;
        margin: auto;
    }

    .about-text{
        text-align: center;
        margin: 5px;
    }

    .about img{
        padding-left: 50px;
    }

    .footer{
        text-align: center;
    }

    .footer .social a{
        float: none;
    }

}


/* Mobile */
@media(max-width: 760px){
    .navbar {
        height: 120px;
    }

    .navbar .flex {
        flex-direction: column;
        overflow: visible;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar ul{
        padding: 10px;
    }
}

/* global */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 10px;
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--secondary-color) solid;
}

.btn:hover {
    transform: scale(.97);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}